* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mountains of Christmas", cursive;
}

.letter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.letter-xmas {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-top: 40px;
  color: #8b0000;
  letter-spacing: 3px;
}
.container {
  margin-top: 150px;
  width: 100%;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.letter-text {
  font-size: 24px;
  color: rgb(49, 48, 48);
  display: block;
  text-align: left;
  width: 600px;
  margin-right: 50px;
}
.list-wrapper {
  display: block;
  width: 400px;
  text-align: left;
  margin-top: 0;
}
h2 {
  color: red;
  text-align: left;
}
.list-wrapper ol {
  font-size: 24px;
  color: rgb(49, 48, 48);
  margin-left: 0;
  padding-left: 20px;
}
a {
  color: #e64215;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}
a:hover {
  text-shadow: 0 0 5px #ff4000, 0 0 15px #ff3700, 0 0 30px #ff3700;
}

@media (max-width: 1000px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .letter-text,
  .list-wrapper {
    width: 90%;
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0 10px;
  }
  h1 {
    font-size: 36px;
  }
  .container {
    margin-top: 100px;
  }
  .letter {
    position: absolute;
    min-height: 100vh;
    height: auto;
  }
}

@media (max-width: 500px) {
  .letter-text,
  .list-wrapper {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .letter {
  background-image: url(../img/cute-christmas-phone-background1.jpg);
}

}
