* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mountains of Christmas", cursive;
}

.letter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.letter-xmas {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-top: 40px;
  color: #8b0000;
  letter-spacing: 3px;
}
.container {
  margin-top: 150px;
  width: 100%;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.letter-text {
  font-size: 24px;
  color: rgb(49, 48, 48);
  display: block;
  text-align: left;
  width: 600px;
  margin-right: 50px;
}
.list-wrapper {
  display: block;
  width: 400px;
  text-align: left;
  margin-top: 0;
}
h2 {
  color: red;
  text-align: left;
}
.list-wrapper ol {
  font-size: 24px;
  color: rgb(49, 48, 48);
  margin-left: 0;
  padding-left: 20px;
}